*{
padding: 0%;
margin: 0;
font-family: 'League Spartan', sans-serif;
font-size: 16px;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }


h1{
  font-size: 24px;
}

h2{
  font-size: 18px;
}
h3{
  font-size: 16px;
}

.p14{
  font-size: 14px;
}
.p12{
  font-size: 12px;
}
.p10{
  font-size: 10px;
}

.map-card{
gap: 8px;
width: 253px;
height: 184px;
background: #FFFFFF;
border-radius: 20px;
}

.card-header{
  display: flex;  
  flex-direction: row;  
  gap: 126px;
  width: 221px;
  height: 17px;
}

.map-container{
  height: 100vh;
  
}

.card-body{
  display: flex;
flex-direction: column;
align-items: center;
margin-top: 25px;
}

#card-country{
  color: #FF6969;
  font-size: 16px;
  font-weight: 400;
}

#card-city{
/* font-family: 'Spartan'; */
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;

/* identical to box height, or 29px */
text-align: center;
letter-spacing: 0.261442px;

/* black */
color: #2B2B2B;
}

#card-p{
  width: 169px;
height: 34px;

/* p14/medium */

font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 120%;

/* or 17px */
text-align: center;
letter-spacing: 0.2px;

/* Gray 2 */
color: #4F4F4F;
}


.App {
  text-align: center;
}
body {
  background-color: #F5F5F5;
  
}

.header{
width: 100%;
height: 60px;
background-color: #ffffff;
/* padding: 20px 20px 20px 20px; */
}
.header-text{
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-left: 50px;
  color: #2B2B2B;
}

.icons{
  position: relative;
  left: 75%;
  top: 16%;
  bottom: 48%;
}

#logo-span{
  font-weight: 200;
  font-size: 26px;
  
}


.button-block{
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  position: relative;
}

.button-container{

display: block;
margin-bottom: -60px;
}
#mapcontainer {
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.box {
  background-color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 800px ;
  font-size: 14px;
  border-radius: 5px;
}
#login {
  text-align: center;
  font-size: 18px;
  display: grid;
}

#error_p {
  text-align: center;
  font-size: 18px;
  color: red;
}
button {
  width: 300px;
  margin-left: 40%;
  font-size: 18px;
  height: 30px;
  background-color: black;
  color: white;
  border-color: none;
  border-radius: 10px;
  margin-top: 20px;
}
#trips {
  text-align: initial;
}
label {
  display: grid;
  font-size: 16px;
  margin-bottom: 8px;
  color: black;
}
input {
  display: grid;
  font-size: 16px;
  padding: 10px 8px;
  text-align: center;
  align-items: center;
  margin-left: 800px;
  /* width: 10%; */
  font-size: 16px;
  color: black;
  border-radius: 4px;

}


#table {
  margin: 0 auto;
  padding: 12px;
  text-align: center;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(241, 238, 238);
  margin-top: 40px;
 
}


table, th, td{
  text-align: center;
  align-self: center;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(236, 230, 230);
  border-collapse: collapse;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}
#signup {
  width: max-content;
  margin-right: 200px ;
  width: 250px;
  font-size: 18px;
  display: grid;
  align-items: center;
}
#form-button{
  width: 380px;
  margin-left: 40%;
  font-size: 18px;
  height: 30px;
  background-color: black;
  color: white;
  border-color: none;
  border-radius: 8px;  
  height: 41px;
  margin-left: 260px;
}
.form-container {
  width: 350px;
  margin-right: 200px;
  margin-top: 30px;  
}

.input{  
  width: 350px;
  margin-left: 260px;
}
#container {
  align-content: center;
}

.container{
  margin-top: 3%;
  margin-left: 10%;
  font-size: 200%;
  border: 1px solid grey;
  padding-top: 2%;
  width: 75%;
  background-color: white;
  padding-bottom: 1.5%;
  }
  
  
  
  table{
    margin-left: 5%;
    text-align: left;
    margin-top: 0%;
    width: 85%;
 
  }
  td,th{
      font-size: 46.5%;
      color: rgb(27, 26, 26);
  }
  table th {
     margin-left: 200px;
    padding-right: 50%;
    left: 30%;
    width: 26%;
    padding-top: 11%;
    padding-bottom: 1%;
    text-align: left;
    border-bottom: 1px solid;
    border-color: rgb(210, 205, 199);
  }

  table td {
    margin-left: 200px;
    left: 30%;
    width: 26%;
    padding-top: 10%;
    padding-bottom: 1%;
    text-align: left;
    margin-top: 2%;
    border-bottom: 1px solid;
    border-color: rgb(206, 200, 192);
  }
  
  .update{
    margin-left: 325%;
    cursor: pointer;
  }
  .cancel{
    margin-left: 325%;
    cursor: pointer;
  }
  .tripsDiaryPage .buttonContainer .clickedColor{
    background-color: rgb(15, 15, 15);
    color: white;
  }
  

#menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;}

.newtrip{
 margin: 32px;
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */
  
  text-align: center;
  letter-spacing: 0.261442px;
  
  color: #000000;
  flex: none;
order: 0;
flex-grow: 0;
}
 
.reminder{


  font-family: 'Spartan';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 130%;
 
  
  
  color: #FF6969;
  
  
  /* Inside auto layout */
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 20px;
  margin: auto;
  width: 292px;
  height: 37px;
  
  background: #FFC1C1;
  
  /* Inside auto layout */
  
  /* flex: none;
  order: 1;
  flex-grow: 0; */
  
  }
  

.footer {
  position: fixed;
  display: flex;
  left: 0%;
  bottom: 0;
  Width: 100%;
  Height :34px;
  background: #303030;
  color: #F5F5F5;
  display: flex;
  flex-direction: column;
  align-items:center ;

}


